<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style')}}"/>
    <!-- <link rel="stylesheet" href="/static/css/style.css" /> -->
    <!-- Add any additional CSS or external stylesheets here -->
</head>

<body>
    <h1>Hello World</h1>
    <p>Your name is {{ name }}</p>

    <!-- Add any additional content or JavaScript here -->

</body>

</html>